html {
	background: blue;
	color: white;
}

form input {
	display: block;
	width: 80%;
	height: 20px;
	font-size: 14px;
	color:black;
	padding: 10px;
	margin:5px 0;
}

.submission {
	background: red;
	height: 30px;
	border:none;
	font-weight: bold;
	color: white;
}

.view-submissions {
	text-align: center;
	font-size: 20px;
	padding: 20px 0;
	font-weight: bold;

}

.view-submissions a {
	color: red;
	text-decoration: none;
}


.return-home {
	text-align: center;
	font-size: 20px;
	padding: 20px 0;
	font-weight: bold;

}

.return-home a {
	color: red;
	text-decoration: none;
}
.vote {
	text-align: center;
	font-size: 20px;
	padding: 20px 0;
	font-weight: bold;
}

.vote a {
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 38px;
	background: red;
}

.paired-videos {
	font-size: 28px;
	font-weight: bold;
}

.paired-videos li {
	display: block;
	padding: 20px 0;
}